{% extends "layout.html" %}

{% block title %}
    Pieczarkarnie
{% endblock %}

{% block header %}
  {% if get_flashed_messages() %}
  <header>
      <div id="flash" class="container alert alert-success alert-dismissible fade show mb-0 text-center" role="alert">
          {{ get_flashed_messages() | join(" ") }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  </header>
  {% endif %}
{% endblock %}

{% block main %}
<table class="table table-striped p-4 p-md-5 border rounded-3 bg-light text-center">
    <thead>
      <tr>
        <th>Pieczarkarnia</th>
        <th>Maksymalna ilość kostek</th>
        <th>Powierzchnia</th>
      </tr>
    </thead>
    <tbody>
      {% for hall in halls %}
        <tr>
          <td>{{ hall.name }}</td>
          <td>{{ hall.max_cubes }}</td>
          <td>{{ hall.area }} m<sup>2</sup></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<div class="row">
    <div class="col-1"></div>
    <a class="btn btn-primary col-2" href="/newhall" role="button">Dodaj pieczarkarnie</a>
</div>
{% endblock %}