{% extends "layout.html" %}

{% block title %}
    Nowa uprawa
{% endblock %}

{% block main %}

    <form action="/newcultivation" method="post" class="p-md-5 border rounded-3 bg-light">
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <div class="p-2">
                <label for="floatingInput">Data załadunku podłoża</label>
                <input autocomplete="off" type="date" class="form-control w-auto" id="dataKostki" name="dataKostki" placeholder="Data">
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <div class="p-2">
                <select class="form-select w-auto" name="pieczarkarnia">
                    <option disabled="" selected="">Pieczarkarnia</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="p-2">
                <input autocomplete="off" type="text" class="form-control w-auto" id="producent" name="producent" placeholder="Producent podłoża">
            </div>
            <div class="p-2">
                <select class="form-select w-auto" name="faza">
                    <option disabled="" selected="">Faza</option>
                    <option value="Faza II">Faza II</option>
                    <option value="Faza III">Faza III</option>
                </select>
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <div class="p-2">
                <label for="floatingInput">Liczba kostek</label>
                <input autocomplete="off" type="number" class="form-control w-auto" id="liczbaKostek" name="liczbaKostek" placeholder="Liczba kostek">
            </div>
            <div class="p-2">
                <label for="floatingInput">Cena za sztukę w zł.</label>
                <input autocomplete="off" type="number" class="form-control w-auto" id="cenaKostki" name="cenaKostki" placeholder="Cena za szt.">
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <div class="p-2">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Dodaj uprawę</button>
            </div>
        </div>
    </form>

{% endblock %}