{% extends "layout.html" %}

{% block script %}
  {% if error["username"] %}
    loginError("#username", "#userform", "Wpisz nazwę użytkownika");
  {% endif %}

  {% if error["password"] %}
    loginError("#password", "#passwordform", "Wpisz hasło");
  {% endif %}

  {% if error["taken"] %}
    loginError("#username", "#userform", "Nazwa użytkownika jest zajęta");
  {% endif %}

  {% if error["confirmation"] %}
    loginError("#confirmation", "#confirmationform", "Proszę powtórzyć hasło");
  {% endif %}

  {% if error["not equal"] %}
    loginError("#confirmation", "#confirmationform", "Hasła nie są takie same");
  {% endif %}
{% endblock %}
  
{% block title %}
    Rejestracja
{% endblock %}

{% block header %}
  {% if get_flashed_messages() %}
  <header>
      <div id="flash" class="alert alert-danger alert-dismissible fade show mb-0 text-center" role="alert">
          {{ get_flashed_messages() | join(" ") }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  </header>
  {% endif %}
{% endblock %}

{% block main %}
<div class="flex-column d-flex col-md-6 mx-auto py-5 col-lg-4">
  <form action="/register" method="post" class="p-4 p-md-5 border rounded-3 bg-light">
    <h3 class="mb-3">Rejestracja</h3>
    <div class="form-floating mb-3" id="userform">
      <input autocomplete="off" autofocus type="text" class="form-control" id="username" name="username" placeholder="Nazwa użytkownika">
      <label for="floatingInput">Nazwa użytkownika</label>
    </div>
    <div class="form-floating mb-3" id="passwordform">
      <input type="password" name="password" class="form-control" id="password" placeholder="Hasło">
      <label for="floatingPassword">Hasło</label>
    </div>
    <div class="form-floating mb-3" id="confirmationform">
      <input type="password" name="confirmation" class="form-control" id="confirmation" placeholder="Powtórz hasło">
      <label for="floatingPassword">Powtórz hasło</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Zarejestruj</button>
  </form>
</div>
{% endblock %}